<%- contentFor('page')%>
<card dis-hover style="text-align:center">
    <p slot="title">最新资讯</p>
    <%- aaa%>
</card>
<script>
    var App = new Vue({
        el: "#app",
        data() {
            var infoData = {
            }
            return Object.assign({}, loadData, infoData)
        },
        mixins: [{
            methods: minux
        }],
        mounted() {
            //这个页面，答辩最好先介绍1-3个页面，然后说这页面是爬虫搞得。新闻都是实时爬取的。这是个技术点(如果我忘记给你说了，希望你随缘可以看到)
        },
        methods: {

        }
    })

</script>