<%- contentFor('page')%>
<card dis-hover>
    <i-form style="text-align: right;" :model="formItem" :label-width="80" inline>
        <form-item prop="time"  label="日期查询" style="text-align: left;">
            <i-select v-model="formItem.model1" style="width:200px">
                <i-option v-for="item in Stype" :value="item.value" :key="item.value">{{ item.label }}</i-option>
            </i-select>
        </form-item>
        <form-item>
            <i-button style="margin-left:-60px" type="primary" @click="handleSubmit">查询</i-button>
        </form-item>
    </i-form>
    <p slot="title">工资统计</p>
    <i-table :columns="columns" stripe :data="getStu"></i-able>
</card>
<script>
    var App = new Vue({
        el: "#app",
        data() {
            var infoData = {
                getStu:<%-getStu%>,
                columns:[
                    {
                        title:"学生姓名",
                        key:"stuname"
                    },
                    {
                        title:"学生系别",
                        key:"stucla"
                    },
                    {
                        title:"联系方式",
                        key:"stuphone"
                    },
                    {
                        title:"学生年级",
                        key:"stugrd"
                    },
                    {
                        title:"是否毕业",
                        key:"ifbiye"
                    }
                ],
                formItem:{
                    model1:2
                },
                Stype:[{
                    value:2,
                    label:'全部'
                },{
                    value:1,
                    label:'已毕业'
                },{
                    value:0,
                    label:'未毕业'
                }]
            }
            return Object.assign({}, loadData, infoData)
        },
        mixins: [minux],
        mounted() {
            //工资统计
        },
        methods: {
            handleSubmit(){
                var self = this;
                $.ajax({
                    url:"/student/getstudent",
                    data:{
                        type:self.formItem.model1
                    },
                    success(re){
                        self.getStu = re;
                    }
                })
            }
        }
    })
</script>